.slidebar {
  background-color: #fafafa;
  grid-area: slidebar;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 7vw;
  
}
.links-bar {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 10vh;
  gap: 5vh;

  list-style: none;
}
.links-bar li img {
  height: 3.5vh;
  cursor: pointer;
} 

#sentings {
  position: relative;
  top: 47.6%;
}  
.home-img:hover,
.lead-icon:hover,
.crm-img:hover,
.senting-img:hover {
  filter: grayscale(1);
  transform: scale(1.05);
}
.senting-img {
  filter: grayscale(1);
}